In [1]:
import pandas as pd
d=pd.read_csv("Salary.csv")

In [2]:
d.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [3]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [4]:
d.isnull().sum()

Position    0
Level       0
Salary      0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
d["Position"] = l.fit_transform(d["Position"])

In [6]:
d.head()

   Position  Level  Salary
0         0      1   45000
1         4      2   50000
2         8      3   60000
3         5      4   80000
4         3      5  110000

In [7]:
x = d[["Position","Level"]]
y = d["Salary"]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [9]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()

In [10]:
dt.fit(x_train,y_train)
y_pred = dt.predict(x_test)

In [11]:
from sklearn import metrics
mse = metrics.mean_squared_error(y_test,y_pred)
mse

462500000.0

In [12]:
r2 = metrics.r2_score(y_test,y_pred)
r2

0.48611111111111116

In [13]:
dt.predict([[5,6]])

array([150000.])